.container-about {
    margin: 25px 50px;
}

.aboutImg {
    background-image: url("../assets/imageAbout.jpg");
    border-radius: 15px;
    width: 100%;
    height: 250px;
    background-size: cover;
    margin-bottom: 20px;
}

.valeurs {
    margin: 0 60px;
}

.valeurs .collapse-block {
    margin-top: 10px;
}

@media screen and (max-width: 768px){
    
    .container-about {
        margin: 5px 10px;
    }

    .aboutImg {
        background-image: url("../assets/imageAboutMobile.jpg");
    }

    .valeurs {
        margin: 0;
    }
}