
* {
  font-family: "montserrat";
  color: #FF6060;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

  
@media screen and (max-width: 768px) {
  body {
    margin-inline: 20px;
  }
}

