main {
  margin: 0 50px;
}

.location {
margin-bottom: 10px;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-inline: 20px;
}

.content p {
  font-size: 13px;
  margin-block: 1px;
}

.content h2{
  font-size: 22px;
  background-color: white;
  margin-block: 0;
}

.content.img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #C4C4C4;
}

.bloc-right {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  min-width: 126px;
}

.owner {
  display: flex;
  margin-left: auto;
}

.owner img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-block: auto; 
}

.owner-name {
  text-align: end;
}

.tags {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tags ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tags li {
  font-size: 10px;
  color: white;
  background-color: #FF6060;
  border-radius: 7px;
  padding: 2px 8px;
  margin-right: 5px;
  margin-bottom: 10px;
  min-width: 80px;
  text-align: center;
}

.rating span {
  font-size: 24px;
}

.greyStar {
  color: #C4C4C4;
}

.coloredStar {
  color: #FF6060;
}

.description {
  display: flex;
  margin: 10px 20px;
  gap: 50px;
}


@media screen and (max-width: 768px) {
  main {
    margin: 0 5px;
  }

  .bloc-right {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .rating span {
    font-size: 16px;
  }

  .content {
    margin: 3px 0;
    flex-direction: column;
  }

  .content h2 {
    font-size: 16px;
  }

  .owner img {
    width: 26px;
    height: 26px;
  }

  .content p {
    font-size: 10px;
  }

  .tags ul {
    justify-content: flex-start;
    width: max-content;
    flex-wrap: wrap;
  }
 
  .description {
    flex-direction: column;
    margin-inline: 0;
    gap: 0;
  }
    
}