
.collapse-block {
  flex: 1 1 0px;
}

.collapse-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  border-radius: 7px;
  padding: 5px 10px;
}

.collapse-block p {
  color: white;
  margin-block: 0;
  font-size: 12px;
}

.collapse-block button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.collapse-block i {
  color: white;
  font-size: 20px;
  rotate: 180deg;
}

.collapse-block .active {
  background-color: #F6F6F6;
  font-size: 12px;
  padding: 10px 20px;
  list-style-type: none;
  border-radius: 7px;
}

.texte li {
  list-style: none;
}

@media screen and (max-width: 768px) {

  .collapse-block {
    margin: 5px 0px;
  }
}