

ul {
    display: flex;
    list-style-type: none;
    -webkit-padding-start: 0;
    margin: 0;
  }
  
  nav li {
    margin-left: 40px;
    font-size: 0.8em;
    font-size: 20px;
  }
  
  .link {
    text-decoration: none;
  }
  
  .activated {
    text-decoration: underline;
  }
  
  @media screen and (max-width: 768px) {
    nav li {
      margin-left: 5px;
      font-size: 10px;
    }
  }